<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AgendaPessoal.Properties.Settings.ConectionString"
            connectionString="server=localhost;User Id=root;database=db_agenda_pessoal"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>